---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  misc-*,
  -readability-identifier-length,
  -readability-magic-numbers

WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
FormatStyle: file

CheckOptions:
  - key: readability-function-cognitive-complexity.Threshold
    value: 25
